{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="content-section">
    <form method="POST">
      <!-- CSRF = Cross-Site Request Forgery (a common security attack). -->
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-3">Login</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="w-100 btn btn-outline-success my-2" type="submit">Login</button>
      </div>
    </form>
    <div class="border-top pt-2">
      <small class="text-muted">
        Need an account ?
        <a href="{% url 'register' %}" class="ml-2">Sign UP</a>
      </small>
    </div>
  </div>

{% endblock content %}
